.chartHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.stockLevelTitle {
  font-size: 2rem;
  font-weight: normal;
}
.descriptionSlot {
  text-align: right;
}
.chip {
  background: #fff;
  margin-bottom: 2rem;
  border: 1px solid;
  border-radius: 1rem;
  line-height: 1.25rem;
  font-size: 0.75rem;
  padding: 0.1rem 1rem 0.1rem 0.75rem;
  display: inline-flex;
  align-items: center;
  margin-right: 0;
}
.chipDecoration {
  height: 0.4rem;
  width: 0.4rem;
  background: #dadada;
  margin-right: 0.4rem;
}
.chartKey {
  display: flex;
  list-style: none;
}
.keyItem {
  margin: 0 0 0 2rem;
  display: flex;
  align-items: center;
}
.keyText {
  line-height: 1.25rem;
  font-size: 0.75rem;
}
.keyExample {
  height: 0.85rem;
  width: 0.85rem;
  margin-right: 0.5rem;
}
.keyExample.projected {
  background-image: linear-gradient(
    rgba(var(--chart-bar-rgb), 0.6) 0,
    rgba(var(--chart-bar-rgb), 0.6) 85%,
    rgba(var(--chart-bar-rgb), 0) 85%
  );
  background-position: 15%;
  background-size: 100px 5px;
}
.keyExample.demand {
  height: 2px;
  background: rgb(var(--foreground-rgb));
}
.keyExample.actual {
  background: rgb(var(--chart-bar-light-rgb));
}
