.chartBars {
  display: block;
  position: absolute;
  width: 100%;
  display: flex;
  bottom: 0;
  height: calc(100%);
}
.chartBars tbody {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.chartBars tr {
  --gutter-total: calc(
    calc(var(--numXAxisBars) - 1) * var(--xAxisGutterPercentage) * 1%
  );
  display: flex;
  width: calc(calc(100% - var(--gutter-total)) / var(--numXAxisBars));
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  position: relative;
}
.valueType,
.dateValue {
  position: absolute;
  height: 1rem;
  bottom: calc(var(--volume) * 100%);
  left: 0;
  height: 1rem;
  line-height: 1;
  white-space: nowrap;
}
tr.actual .valueType,
tr.projected .valueType,
tr.actual .dateValue,
tr.projected .dateValue {
  display: none;
}
.valueType,
.dateValue {
  --line-height: 0.8rem;
  line-height: var(--line-height);
  font-size: 0.6rem;
  padding-left: 0.125rem;
}
.valueType {
  transform: translateY(-1.05rem);
}
.dateValue {
  transform: translateY(-0.25rem);
}
.stockValue {
  height: calc(var(--volume) * 100%);
  text-indent: 999%;
  overflow: hidden;
}
tr.actual .stockValue {
  background: rgb(var(--chart-bar-light-rgb));
}
tr.today .stockValue,
tr.projected .stockValue {
  background-image: linear-gradient(
    rgb(var(--chart-bar-rgb)) 0,
    rgb(var(--chart-bar-rgb)) 85%,
    rgba(var(--chart-bar-rgb), 0) 85%
  );
  background-position: 15%;
  background-size: 100px 5px;
}
tr.projected .stockValue {
  opacity: 0.4;
}
.barLabel {
  height: var(--x-axis-label-space);
  font-size: 0.9rem;
  line-height: var(--x-axis-label-space);
  position: absolute;
  bottom: calc(-1 * var(--x-axis-label-space));
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
tr.actual .barLabel,
tr.projected .barLabel {
  opacity: 0.4;
}
