.stockLevelChart {
  border: 1px var(--keyline-hex) solid;
  border-radius: 1rem;
  padding: 3rem 3rem 2rem;

  --x-axis-label-space: 2rem;
  --x-axis-legend-space: 1.75rem;
  --x-axis-total-space: calc(
    var(--x-axis-label-space) + var(--x-axis-legend-space)
  );

  --y-axis-label-space: 2rem;
  --y-axis-legend-space: 2.5rem;
  --y-axis-total-space: calc(
    var(--y-axis-label-space) + var(--y-axis-legend-space)
  );
}
