.chartBody {
  margin: 0.5rem auto;
  position: relative;
  --x-axis-label-space: 2rem;
  --x-axis-legend-space: 1.75rem;
  --x-axis-total-space: calc(
    var(--x-axis-label-space) + var(--x-axis-legend-space)
  );
  --y-axis-label-space: 1.5rem;
  --y-axis-legend-space: 2.5rem;
  --y-axis-total-space: calc(
    var(--y-axis-label-space) + var(--y-axis-legend-space)
  );
  --num-horizontal-guides: 5;
  --num-chart-bars: 3;
  --gutter-percent: 0.0075;
  --widthToHeightRatio: 1;
}

.chartArea {
  position: relative;
  margin-left: var(--y-axis-total-space);
  height: 0;
  padding-top: calc(
    calc(var(--widthToHeightRatio) * 100%) - var(--y-axis-total-space)
  );
}
