.yAxis {
  position: absolute;
  left: var(--y-axis-legend-space);
  right: 0;
  top: 0;
  bottom: var(--x-axis-total-space);
  pointer-events: none;
}
.yAxisLegend {
  font-size: 1.1rem;
  height: var(--y-axis-legend-space);
  left: calc(var(--y-axis-legend-space) * -1);
  line-height: var(--y-axis-legend-space);
  margin: 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  margin-top: calc(var(--y-axis-legend-space) / -2);
  top: 50%;
  transform: rotate(-90deg);
}
.yAxisGuides {
  display: flex;
  flex-direction: column;
  height: calc(
    100% * calc(var(--numYAxisGuides) / calc(var(--numYAxisGuides) - 1))
  );
}
.yAxisGuides,
.yAxisGuide {
  margin: 0;
  padding: 0;
  list-style: none;
}
.yAxisGuide {
  height: 100%;
}
.yAxisGuideLabel {
  background: #fff;
  display: block;
  font-size: 0.9rem;
  height: 1em;
  line-height: 1em;
  margin-bottom: -0.5em;
  margin-top: -0.5em;
  opacity: 0.6;
  position: relative;
  text-align: right;
  width: var(--y-axis-label-space);
  left: -1.5rem;
  z-index: 1;
}
.yAxisGuideline {
  border-top: 1px dotted rgba(var(--chart-bar-rgb), 0.4);
  height: 1px;
  left: 0;
  right: 0;
  display: block;
  position: absolute;
}
