.itemBar {
  border: 1px var(--keyline-hex) solid;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
.itemSummary {
  --iconSize: 2.75rem;
  margin-left: 1rem;
  position: relative;
  padding-left: calc(var(--iconSize) + 1.5rem);
}
.itemIconSlot {
  position: absolute;
  height: var(--iconSize);
  left: 0;
  top: 0.25rem;
  width: var(--iconSize);
}
.itemName {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 0.125rem;
  font-weight: normal;
}
.itemStock {
  font-size: 0.9rem;
}
.maximumStock {
  opacity: 0.5;
}

.itemSelectWrapper {
  position: relative;
  padding: 0.125rem 0;
}
.itemSelectedOption {
  border: 1px solid;
  border-radius: 0.5rem;
  padding: 0.5rem 4rem 0.5rem 3rem;
  margin: 0 0 0 2rem;
  height: calc(100%);
  display: flex;
}
.itemSelect {
  border-radius: 0;
  border: 0 none;
  cursor: pointer;
  appearance: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
}
.itemOption {
}
.itemMenuIcon {
  background-color: #f003;
}
.itemMenuText {
  background-color: #f003;
}
.itemMenuName {
  background-color: #f003;
}
.itemMenuId {
  background-color: #f003;
}
.itemMenuDropdown {
  background-color: #f003;
}
.itemMenuDropdownDecoration {
  background-color: #f003;
}
