.itemSelector {
  border: 1px var(--keyline-hex) solid;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
}
.itemSummary {
  background-color: #f003;
}
.itemIconSlot {
  background-color: #f003;
}
.itemName {
  background-color: #f003;
}
.itemStock {
  background-color: #f003;
}
.currentStock {
  background-color: #f003;
}
.maximumStock {
  background-color: #f003;
}
.itemSelect {
  background-color: #f003;
}
.itemMenuIcon {
  background-color: #f003;
}
.itemMenuText {
  background-color: #f003;
}
.itemMenuName {
  background-color: #f003;
}
.itemMenuId {
  background-color: #f003;
}
.itemMenuDropdown {
  background-color: #f003;
}
.itemMenuDropdownDecoration {
  background-color: #f003;
}
