.shadow {
  background-color: rgba(var(--foreground-rgb), 0.6);
  display: block;
  height: 100vh;
  margin-bottom: -100vh;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.modal {
  color: rgb(var(--foreground-rgb));
  min-height: 100vh;
  background: rgb(var(--background-rgb));
  border-radius: 1rem 1rem 0 0;
  padding: 1.5rem;
  max-width: 1000px;
  z-index: 2;
  position: relative;
  margin: 0 auto;
}

.closeButton {
  appearance: none;
  background: rgb(var(--background-rgb));
  border-radius: 1rem;
  border: 1px solid rgb(var(--foreground-rgb));
  cursor: pointer;
  display: block;
  margin: 0 0 1.5em auto;
  padding: 0.5rem;
  position: relative;
  height: 2rem;
  width: 2rem;
}

.closeBar {
  background: black;
  border-radius: 0.3rem;
  position: absolute;
  height: 0.2rem;
  width: 1rem;
  top: 0.8125rem;
  left: 0.4375rem;
}

.closeBar:first-of-type {
  transform: rotate(45deg);
}
.closeBar:last-of-type {
  transform: rotate(-45deg);
}

.children {
  padding: 0 2rem;
}
