.shadow {
  background-color: rgb(var(--foreground-rgb));
  display: block;
  height: 1rem;
  margin-bottom: -1rem;
}

.modal {
  color: rgb(var(--foreground-rgb));
  min-height: 100vh;
  background: rgb(var(--background-rgb));
  border-radius: 1rem 1rem 0 0;
  padding: 1.5rem;
}

.closeButton {
  appearance: none;
  background: rgb(var(--background-rgb));
  border-radius: 1rem;
  border: 1px solid rgb(var(--foreground-rgb));
  cursor: pointer;
  display: block;
  margin: 0 0 1em auto;
  padding: 0.5rem;
  position: relative;
  height: 2rem;
  width: 2rem;
}

.closeBar {
  background: black;
  border-radius: 0.3rem;
  position: absolute;
  height: 0.2rem;
  width: 1rem;
  top: 0.8125rem;
  left: 0.4375rem;
}

.closeBar:first-of-type {
  transform: rotate(45deg);
}
.closeBar:last-of-type {
  transform: rotate(-45deg);
}

.children {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f003;
  padding: 2rem;
}
